$blue: #1698D9;
$blue-hover: #2EA8E6;
$red: #D91667;
$gray: #B3B3B3;
$yellow: #FFFF66;
$bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
$white: #ffffff;
$gray2: #666666;
$black: #000F